site_name: "Varen Python SDK" # via logo
repo_url: https://github.com/VarenTrade/paradex-py
site_url: https://varentrade.github.io/varen-py
site_description: Varen Python SDK
site_author: Varen
edit_uri: edit/main/docs/
repo_name: varentrade/varen-py

plugins:
  - search
  - privacy
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          setup_commands:
            - import sys
            - sys.path.append('../')

theme:
  name: material
  nav_style: dark
  logo: assets/raredex-light.svg
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.top
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep purple
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/varentrade/varen-py
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/varen-py
  generator: false

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - attr_list

extra_css:
  - assets/styles.css
